.stage
{
	width: 500px;
	margin: auto;
	text-align: center;
}

.box
{
	background-image: url("../img/box.png");
	height: 500px;
	cursor: pointer;
}

.createform
{
    width: 500px;
    margin: auto;
}

.item
{

}

.image
{
    width: 100%;
}

.return
{
    display: block;
    float: right;
    position: relative;
    top: -20px;
}