.stage
{
	width: 500px;
	margin: auto;
	text-align: center;
}

.box
{
	background-image: url("../img/box.png");
	height: 500px;
	cursor: pointer;
}

.createform
{
    width: 500px;
    margin: auto;
}

.item
{
    padding: 20px 10px 20px 10px;
    border: solid #E0E0E0 1px;
    border-radius: 4px;
}

.return
{
    display: block;
    float: right;
    position: relative;
    top: -12px;
}